.search {
    background-color: darkslateblue; 
    border: 1px border-style blue; 
}

.search .queryResultList:hover {
    overflow-y: scroll; 
}

.search .searchInput {
    width: 100%;
}

.search .queryResultList {
    height: 90vh; 
    padding-left: 10px; 
    margin-left: 10px; 
    /* overflow-y: hidden;  */
}
.queryResultList .searchItem {
    border: 1px solid darkslateblue;
    padding: 5px 5px 5px 5px;
    width: 90%;
    font-size: 16px;
    background-color: white
}
.queryResultList .searchItem:hover{
    background-color: rgba(241, 241, 241, 0.88);
}
.queryResultList .searchItem.selected{
    background-color: #ACDBF2;
}
.page-header {
    background-color: darkslateblue; 
    color: white; 
    margin-bottom: 0; 
    padding-bottom: 0; 
}
.page-header h5{
    margin-bottom: 0; 
    padding-bottom: 0; 
}